##################################################################################################################
#################################################### STANDARD ####################################################

REPO_DOWNLOAD_BASEPATH="/mnt/extern"
REPO_DOWNLOAD_ARCH_INCLUDE="amd64|i386|armhf|armel|arm64|source"
REPO_DOWNLOAD_DEBIAN=1
REPO_DOWNLOAD_ORACLE=1
REPO_DOWNLOAD_PROXMOX=1
#REPO_DOWNLOAD_PROXMOX_ENTERPRISE="<PVE_KEY>:::<PVE_SERVER_ID>:::<POM_KEY>"
REPO_DOWNLOAD_GIT=0
REPO_DOWNLOAD_OTHER=1

##################################################################################################################
##################################################### EXPERT #####################################################

## Debian
REPO_DOWNLOAD_DEBIAN_EXCLUDE="--exclude=experimental* --exclude=oldstable* --exclude=rc-buggy* --exclude=sid* --exclude=stable* --exclude=buster* --exclude=testing* --exclude=trixie* --exclude=unstable* --exclude=oldoldstable*"
REPO_DOWNLOAD_DEBIAN_REPOSITORIES="ftp.de.debian.org:::debian-security:::debian-security|"
REPO_DOWNLOAD_DEBIAN_REPOSITORIES+="ftp.de.debian.org:::debian:::debian"

## Oracle
REPO_DOWNLOAD_ORACLE_REPOSITORIES="ol9_baseos_latest_x86_64:::Oracle Linux 9 (x86_64) BaseOS Latest:::https://yum.oracle.com/repo/OracleLinux/OL9/baseos/latest/x86_64:::9|"
#REPO_DOWNLOAD_ORACLE_REPOSITORIES+="ol9_baseos_latest_aarch64:::Oracle Linux 9 (aarch64) BaseOS Latest:::https://yum.oracle.com/repo/OracleLinux/OL9/baseos/latest/aarch64:::9|"
REPO_DOWNLOAD_ORACLE_REPOSITORIES+="ol9_appstream_x86_64:::Oracle Linux 9 (x86_64) AppStream:::https://yum.oracle.com/repo/OracleLinux/OL9/appstream/x86_64:::9|"
#REPO_DOWNLOAD_ORACLE_REPOSITORIES+="ol9_appstream_aarch64:::Oracle Linux 9 (aarch64) AppStream:::https://yum.oracle.com/repo/OracleLinux/OL9/appstream/aarch64:::9|"
REPO_DOWNLOAD_ORACLE_REPOSITORIES+="ol9_uek7_x86_64:::Oracle Linux 9 (x86_64) UEK7:::https://yum.oracle.com/repo/OracleLinux/OL9/UEKR7/x86_64:::9|"
#REPO_DOWNLOAD_ORACLE_REPOSITORIES+="ol9_uek7_aarch64:::Oracle Linux 9 (aarch64) UEK7:::https://yum.oracle.com/repo/OracleLinux/OL9/UEKR7/aarch64:::9|"
REPO_DOWNLOAD_ORACLE_REPOSITORIES+="ol9_addons_x86_64:::Oracle Linux 9 (x86_64) Addons:::https://yum.oracle.com/repo/OracleLinux/OL9/addons/x86_64:::9|"
#REPO_DOWNLOAD_ORACLE_REPOSITORIES+="ol9_addons_aarch64:::Oracle Linux 9 (aarch64) Addons:::https://yum.oracle.com/repo/OracleLinux/OL9/addons/aarch64:::9|"
REPO_DOWNLOAD_ORACLE_REPOSITORIES+="ol9_kvm_utils_x86_64:::Oracle Linux 9 (x86_64) KVM Utilities:::https://yum.oracle.com/repo/OracleLinux/OL9/kvm/utils/x86_64:::9|"
#REPO_DOWNLOAD_ORACLE_REPOSITORIES+="ol9_kvm_utils_aarch64:::Oracle Linux 9 (aarch64) KVM Utilities:::https://yum.oracle.com/repo/OracleLinux/OL9/kvm/utils/aarch64:::9|"
REPO_DOWNLOAD_ORACLE_REPOSITORIES+="ol9_rdma_x86_64:::Oracle Linux 9 (x86_64) RDMA:::https://yum.oracle.com/repo/OracleLinux/OL9/RDMA/x86_64:::9|"
REPO_DOWNLOAD_ORACLE_REPOSITORIES+="ol9_rhck_x86_64:::Oracle Linux 9 (x86_64) RHCK with fixes from Oracle:::https://yum.oracle.com/repo/OracleLinux/OL9/MODRHCK/x86_64:::9|"
REPO_DOWNLOAD_ORACLE_REPOSITORIES+="ol9_oraclelinuxmanager210_client_x86_64:::Oracle Linux 9 (x86_64) Oracle Linux Manager 2.10 Client:::https://yum.oracle.com/repo/OracleLinux/OL9/oraclelinuxmanager210/client/x86_64:::9|"
#REPO_DOWNLOAD_ORACLE_REPOSITORIES+="ol9_oraclelinuxmanager210_client_aarch64:::Oracle Linux 9 (aarch64) Oracle Linux Manager 2.10 Client:::https://yum.oracle.com/repo/OracleLinux/OL9/oraclelinuxmanager210/client/aarch64:::9|"
REPO_DOWNLOAD_ORACLE_REPOSITORIES+="ol9_mysqlconnectors_community_x86_64:::Oracle Linux 9 (x86_64) MySQL Connectors Community:::https://yum.oracle.com/repo/OracleLinux/OL9/MySQL/connectors/community/x86_64:::9|"
#REPO_DOWNLOAD_ORACLE_REPOSITORIES+="ol9_mysqlconnectors_community_aarch64:::Oracle Linux 9 (aarch64) MySQL Connectors Community:::https://yum.oracle.com/repo/OracleLinux/OL9/MySQL/connectors/community/aarch64:::9|"
REPO_DOWNLOAD_ORACLE_REPOSITORIES+="ol9_mysql84_community_x86_64:::Oracle Linux 9 (x86_64) MySQL 8.4 Community:::https://yum.oracle.com/repo/OracleLinux/OL9/MySQL84/community/x86_64:::9|"
#REPO_DOWNLOAD_ORACLE_REPOSITORIES+="ol9_mysql84_community_aarch64:::Oracle Linux 9 (aarch64) MySQL 8.4 Community:::https://yum.oracle.com/repo/OracleLinux/OL9/MySQL84/community/aarch64:::9|"
REPO_DOWNLOAD_ORACLE_REPOSITORIES+="ol9_mysql84_tools_community_x86_64:::Oracle Linux 9 (x86_64) MySQL 8.4 Tools Community:::https://yum.oracle.com/repo/OracleLinux/OL9/MySQL84/tools/community/x86_64:::9|"
#REPO_DOWNLOAD_ORACLE_REPOSITORIES+="ol9_mysql84_tools_community_aarch64:::Oracle Linux 9 (aarch64) MySQL 8.4 Tools Community:::https://yum.oracle.com/repo/OracleLinux/OL9/MySQL84/tools/community/aarch64:::9|"
REPO_DOWNLOAD_ORACLE_REPOSITORIES+="ol9_instantclient23_x86_64:::Oracle Linux 9 (x86_64) Instant Client 23:::https://yum.oracle.com/repo/OracleLinux/OL9/oracle/instantclient23/x86_64:::9|"
REPO_DOWNLOAD_ORACLE_REPOSITORIES+="ol9_instantclient19_x86_64:::Oracle Linux 9 (x86_64) Instant Client 19:::https://yum.oracle.com/repo/OracleLinux/OL9/oracle/instantclient/x86_64:::9|"
REPO_DOWNLOAD_ORACLE_REPOSITORIES+="ol9_epel_x86_64:::Oracle Linux 9 (x86_64) EPEL:::https://yum.oracle.com/repo/OracleLinux/OL9/developer/EPEL/x86_64:::9|"
#REPO_DOWNLOAD_ORACLE_REPOSITORIES+="ol9_epel_aarch64:::Oracle Linux 9 (aarch64) EPEL:::https://yum.oracle.com/repo/OracleLinux/OL9/developer/EPEL/aarch64:::9|"
REPO_DOWNLOAD_ORACLE_REPOSITORIES+="ol9_codereadybuilder_x86_64:::Oracle Linux 9 (x86_64) CodeReady Builder:::https://yum.oracle.com/repo/OracleLinux/OL9/codeready/builder/x86_64:::9|"
#REPO_DOWNLOAD_ORACLE_REPOSITORIES+="ol9_codereadybuilder_aarch64:::Oracle Linux 9 (aarch64) CodeReady Builder:::https://yum.oracle.com/repo/OracleLinux/OL9/codeready/builder/aarch64:::9|"

REPO_DOWNLOAD_ORACLE_REPOSITORIES+="ol8_baseos_latest_x86_64:::Oracle Linux 8 (x86_64) BaseOS Latest:::https://yum.oracle.com/repo/OracleLinux/OL8/baseos/latest/x86_64:::8|"
#REPO_DOWNLOAD_ORACLE_REPOSITORIES+="ol8_baseos_latest_aarch64:::Oracle Linux 8 (aarch64) BaseOS Latest:::https://yum.oracle.com/repo/OracleLinux/OL8/baseos/latest/aarch64:::8|"
REPO_DOWNLOAD_ORACLE_REPOSITORIES+="ol8_appstream_x86_64:::Oracle Linux 8 (x86_64) AppStream:::https://yum.oracle.com/repo/OracleLinux/OL8/appstream/x86_64:::8|"
#REPO_DOWNLOAD_ORACLE_REPOSITORIES+="ol8_appstream_aarch64:::Oracle Linux 8 (aarch64) AppStream:::https://yum.oracle.com/repo/OracleLinux/OL8/appstream/aarch64:::8|"
REPO_DOWNLOAD_ORACLE_REPOSITORIES+="ol8_addons_x86_64:::Oracle Linux 8 (x86_64) Addons:::https://yum.oracle.com/repo/OracleLinux/OL8/addons/x86_64:::8|"
#REPO_DOWNLOAD_ORACLE_REPOSITORIES+="ol8_addons_aarch64:::Oracle Linux 8 (aarch64) Addons:::https://yum.oracle.com/repo/OracleLinux/OL8/addons/aarch64:::8|"
REPO_DOWNLOAD_ORACLE_REPOSITORIES+="ol8_uek7_x86_64:::Oracle Linux 8 (x86_64) UEK7:::https://yum.oracle.com/repo/OracleLinux/OL8/UEKR7/x86_64:::8|"
#REPO_DOWNLOAD_ORACLE_REPOSITORIES+="ol8_uek7_aarch64:::Oracle Linux 8 (aarch64) UEK7:::https://yum.oracle.com/repo/OracleLinux/OL8/UEKR7/aarch64:::8|"
REPO_DOWNLOAD_ORACLE_REPOSITORIES+="ol8_rdma7_x86_64:::Oracle Linux 8 (x86_64) RDMA 7:::https://yum.oracle.com/repo/OracleLinux/OL8/UEKR7/RDMA/x86_64:::8|"
REPO_DOWNLOAD_ORACLE_REPOSITORIES+="ol8_uek6_x86_64:::Oracle Linux 8 (x86_64) UEK6:::https://yum.oracle.com/repo/OracleLinux/OL8/UEKR6/x86_64:::8|"
REPO_DOWNLOAD_ORACLE_REPOSITORIES+="ol8_rdma_x86_64:::Oracle Linux 8 (x86_64) RDMA:::https://yum.oracle.com/repo/OracleLinux/OL8/UEKR6/RDMA/x86_64:::8|"
REPO_DOWNLOAD_ORACLE_REPOSITORIES+="ol8_rhck_x86_64:::Oracle Linux 8 (x86_64) RHCK with fixes from Oracle:::https://yum.oracle.com/repo/OracleLinux/OL8/MODRHCK/x86_64:::8|"
REPO_DOWNLOAD_ORACLE_REPOSITORIES+="ol8_kvm_appstream_x86_64:::Oracle Linux 8 (x86_64) KVM Appstream:::https://yum.oracle.com/repo/OracleLinux/OL8/kvm/appstream/x86_64:::8|"
#REPO_DOWNLOAD_ORACLE_REPOSITORIES+="ol8_kvm_appstream_aarch64:::Oracle Linux 8 (aarch64) KVM Appstream:::https://yum.oracle.com/repo/OracleLinux/OL8/kvm/appstream/aarch64:::8|"
REPO_DOWNLOAD_ORACLE_REPOSITORIES+="ol8_automation_manager2.0_x86_64:::Oracle Linux 8 (ax86_64) Automation Manager 2.0:::https://yum.oracle.com/repo/OracleLinux/OL8/automation2/x86_64:::8|"
REPO_DOWNLOAD_ORACLE_REPOSITORIES+="ol8_ovirt4.5_x86_64:::Oracle Linux 8 (x86_64) oVirt 4.5:::https://yum.oracle.com/repo/OracleLinux/OL8/ovirt45/x86_64:::8|"
REPO_DOWNLOAD_ORACLE_REPOSITORIES+="ol8_ovirt4.5_extra_x86_64:::Oracle Linux 8 (x86_64) oVirt 4.5 Extra:::https://yum.oracle.com/repo/OracleLinux/OL8/ovirt45/extras/x86_64:::8|"
REPO_DOWNLOAD_ORACLE_REPOSITORIES+="ol8_mysqlconnectors_community_x86_64:::Oracle Linux 8 (x86_64) MySQL Connectors Community:::https://yum.oracle.com/repo/OracleLinux/OL8/MySQL/connectors/community/x86_64:::8|"
#REPO_DOWNLOAD_ORACLE_REPOSITORIES+="ol8_mysqlconnectors_community_aarch64:::Oracle Linux 8 (aarch64) MySQL Connectors Community:::https://yum.oracle.com/repo/OracleLinux/OL8/MySQL/connectors/community/aarch64:::8|"
REPO_DOWNLOAD_ORACLE_REPOSITORIES+="ol8_mysql84_community_x86_64:::Oracle Linux 8 (x86_64) MySQL 8.4 Community:::https://yum.oracle.com/repo/OracleLinux/OL8/MySQL84/community/x86_64:::8|"
#REPO_DOWNLOAD_ORACLE_REPOSITORIES+="ol8_mysql84_community_aarch64:::Oracle Linux 8 (aarch64) MySQL 8.4 Community:::https://yum.oracle.com/repo/OracleLinux/OL8/MySQL84/community/aarch64:::8|"
REPO_DOWNLOAD_ORACLE_REPOSITORIES+="ol8_mysql84_tools_community_x86_64:::Oracle Linux 8 (x86_64) MySQL 8.4 Tools Community:::https://yum.oracle.com/repo/OracleLinux/OL8/MySQL84/tools/community/x86_64:::8|"
#REPO_DOWNLOAD_ORACLE_REPOSITORIES+="ol8_mysql84_tools_community_aarch64:::Oracle Linux 8 (aarch64) MySQL 8.4 Tools Community:::https://yum.oracle.com/repo/OracleLinux/OL8/MySQL84/tools/community/aarch64:::8|"
REPO_DOWNLOAD_ORACLE_REPOSITORIES+="ol8_instantclient21_x86_64:::Oracle Linux 8 (x86_64) Instant Client 21:::https://yum.oracle.com/repo/OracleLinux/OL8/oracle/instantclient21/x86_64:::8|"
REPO_DOWNLOAD_ORACLE_REPOSITORIES+="ol8_instantclient19_x86_64:::Oracle Linux 8 (x86_64) Instant Client 19:::https://yum.oracle.com/repo/OracleLinux/OL8/oracle/instantclient/x86_64:::8|"
REPO_DOWNLOAD_ORACLE_REPOSITORIES+="ol8_epel_x86_64:::Oracle Linux 8 (x86_64) EPEL:::https://yum.oracle.com/repo/OracleLinux/OL8/developer/EPEL/x86_64:::8|"
#REPO_DOWNLOAD_ORACLE_REPOSITORIES+="ol8_epel_aarch64:::Oracle Linux 8 (aarch64) EPEL:::https://yum.oracle.com/repo/OracleLinux/OL8/developer/EPEL/aarch64:::8|"
REPO_DOWNLOAD_ORACLE_REPOSITORIES+="ol8_codereadybuilder_x86_64:::Oracle Linux 8 (x86_64) CodeReady Builder:::https://yum.oracle.com/repo/OracleLinux/OL8/codeready/builder/x86_64:::8|"
#REPO_DOWNLOAD_ORACLE_REPOSITORIES+="ol8_codereadybuilder_aarch64:::Oracle Linux 8 (aarch64) CodeReady Builder:::https://yum.oracle.com/repo/OracleLinux/OL8/codeready/builder/aarch64:::8|"
REPO_DOWNLOAD_ORACLE_REPOSITORIES+="ol8_update4_security_validation_x86_64:::Oracle Linux 8 (x86_64) Update 4 Security Validation:::https://yum.oracle.com/repo/OracleLinux/OL8/4/security/validation/x86_64:::8|"
#REPO_DOWNLOAD_ORACLE_REPOSITORIES+="ol8_update4_security_validation_aarch64:::Oracle Linux 8 (aarch64) Update 4 Security Validation:::https://yum.oracle.com/repo/OracleLinux/OL8/4/security/validation/aarch64:::8|"
REPO_DOWNLOAD_ORACLE_REPOSITORIES+="ol8_oraclelinuxmanager210_client_x86_64:::Oracle Linux 8 (x86_64) Oracle Linux Manager 2.10 Client:::https://yum.oracle.com/repo/OracleLinux/OL8/oraclelinuxmanager210/client/x86_64:::8|"

REPO_DOWNLOAD_ORACLE_REPOSITORIES+="ol7_baseos_latest_x86_64:::Oracle Linux 7 (x86_64) BaseOS Latest:::https://yum.oracle.com/repo/OracleLinux/OL7/latest/x86_64:::7|"
#REPO_DOWNLOAD_ORACLE_REPOSITORIES+="ol7_baseos_latest_aarch64:::Oracle Linux 7 (aarch64) BaseOS Latest:::https://yum.oracle.com/repo/OracleLinux/OL7/latest/aarch64:::7|"
REPO_DOWNLOAD_ORACLE_REPOSITORIES+="ol7_uek6_x86_64:::Oracle Linux 7 (x86_64) UEK6:::https://yum.oracle.com/repo/OracleLinux/OL7/UEKR6/x86_64:::7|"
#REPO_DOWNLOAD_ORACLE_REPOSITORIES+="ol7_uek6_aarch64:::Oracle Linux 7 (aarch64) UEK6:::https://yum.oracle.com/repo/OracleLinux/OL7/UEKR6/aarch64:::7|"
REPO_DOWNLOAD_ORACLE_REPOSITORIES+="ol7_uek4_x86_64:::Oracle Linux 7 (x86_64) UEK4:::https://yum.oracle.com/repo/OracleLinux/OL7/UEKR4/x86_64:::7|"
REPO_DOWNLOAD_ORACLE_REPOSITORIES+="ol7_uek5_x86_64:::Oracle Linux 7 (x86_64) UEK5:::https://yum.oracle.com/repo/OracleLinux/OL7/UEKR5/x86_64:::7|"
REPO_DOWNLOAD_ORACLE_REPOSITORIES+="ol7_rhck_x86_64:::Oracle Linux 7 (x86_64) RHCK with fixes from Oracle:::https://yum.oracle.com/repo/OracleLinux/OL7/MODRHCK/x86_64:::7|"
REPO_DOWNLOAD_ORACLE_REPOSITORIES+="ol7_optional_x86_64:::Oracle Linux 7 (x86_64) Optional Latest:::https://yum.oracle.com/repo/OracleLinux/OL7/optional/latest/x86_64:::7|"
#REPO_DOWNLOAD_ORACLE_REPOSITORIES+="ol7_optional_aarch64:::Oracle Linux 7 (aarch64) Optional Latest:::https://yum.oracle.com/repo/OracleLinux/OL7/optional/latest/aarch64:::7|"
REPO_DOWNLOAD_ORACLE_REPOSITORIES+="ol7_rdma_x86_64:::Oracle Linux 7 (x86_64) RDMA:::https://yum.oracle.com/repo/OracleLinux/OL7/UEKR6/RDMA/x86_64:::7|"
REPO_DOWNLOAD_ORACLE_REPOSITORIES+="ol7_update8_security_validation_x86_64:::Oracle Linux 7 (x86_64) Update 8 Security Validation:::https://yum.oracle.com/repo/OracleLinux/OL7/8/security/validation/x86_64:::7|"
#REPO_DOWNLOAD_ORACLE_REPOSITORIES+="ol7_update8_security_validation_aarch64:::Oracle Linux 7 (aarch64) Update 8 Security Validation:::https://yum.oracle.com/repo/OracleLinux/OL7/8/security/validation/aarch64:::7|"
REPO_DOWNLOAD_ORACLE_REPOSITORIES+="ol7_kvm_utils_x86_64:::Oracle Linux 7 (x86_64) KVM Utilities:::https://yum.oracle.com/repo/OracleLinux/OL7/kvm/utils/x86_64:::7|"
REPO_DOWNLOAD_ORACLE_REPOSITORIES+="ol7_ovirt4.3_x86_64:::Oracle Linux 7 (x86_64) oVirt 4.3:::https://yum.oracle.com/repo/OracleLinux/OL7/ovirt43/x86_64:::7|"
REPO_DOWNLOAD_ORACLE_REPOSITORIES+="ol7_ovirt4.3_extra_x86_64:::Oracle Linux 7 (x86_64) oVirt 4.3 Extra:::https://yum.oracle.com/repo/OracleLinux/OL7/ovirt43/extras/x86_64:::7|"
REPO_DOWNLOAD_ORACLE_REPOSITORIES+="ol7_addons_x86_64:::Oracle Linux 7 (x86_64) Addons:::https://yum.oracle.com/repo/OracleLinux/OL7/addons/x86_64:::7|"
#REPO_DOWNLOAD_ORACLE_REPOSITORIES+="ol7_addons_aarch64:::Oracle Linux 7 (aarch64) Addons:::https://yum.oracle.com/repo/OracleLinux/OL7/addons/aarch64:::7|"
REPO_DOWNLOAD_ORACLE_REPOSITORIES+="ol7_oraclelinuxmanager210_client_x86_64:::Oracle Linux 7 (x86_64) Oracle Linux Manager 2.10 Client:::https://yum.oracle.com/repo/OracleLinux/OL7/oraclelinuxmanager210/client/x86_64:::7|"
REPO_DOWNLOAD_ORACLE_REPOSITORIES+="ol7_oraclelinuxmanager210_manager_x86_64:::Oracle Linux 7 (x86_64) Oracle Linux Manager 2.10 Server:::https://yum.oracle.com/repo/OracleLinux/OL7/oraclelinuxmanager210/server/x86_64:::7|"
REPO_DOWNLOAD_ORACLE_REPOSITORIES+="ol7_software_collections_x86_64:::Oracle Linux 7 (x86_64) Software Collection 3.0:::https://yum.oracle.com/repo/OracleLinux/OL7/SoftwareCollections/x86_64:::7|"
#REPO_DOWNLOAD_ORACLE_REPOSITORIES+="ol7_software_collections_aarch64:::Oracle Linux 7 (aarch64) Software Collection 3.0:::https://yum.oracle.com/repo/OracleLinux/OL7/SoftwareCollections/aarch64:::7|"
REPO_DOWNLOAD_ORACLE_REPOSITORIES+="ol7_mysqlconnectors_community_x86_64:::Oracle Linux 7 (x86_64) MySQL Connectors Community:::https://yum.oracle.com/repo/OracleLinux/OL7/MySQL/connectors/community/x86_64:::7|"
#REPO_DOWNLOAD_ORACLE_REPOSITORIES+="ol7_mysqlconnectors_community_aarch64:::Oracle Linux 7 (aarch64) MySQL Connectors Community:::https://yum.oracle.com/repo/OracleLinux/OL7/MySQL/connectors/community/aarch64:::7|"
REPO_DOWNLOAD_ORACLE_REPOSITORIES+="ol7_mysql84_community_x86_64:::Oracle Linux 7 (x86_64) MySQL 8.4 Community:::https://yum.oracle.com/repo/OracleLinux/OL7/MySQL84/community/x86_64:::7|"
#REPO_DOWNLOAD_ORACLE_REPOSITORIES+="ol7_mysql84_community_aarch64:::Oracle Linux 7 (aarch64) MySQL 8.4 Community:::https://yum.oracle.com/repo/OracleLinux/OL7/MySQL84/community/aarch64:::7|"
REPO_DOWNLOAD_ORACLE_REPOSITORIES+="ol7_mysql84_tools_community_x86_64:::Oracle Linux 7 (x86_64) MySQL 8.4 Tools Community:::https://yum.oracle.com/repo/OracleLinux/OL7/MySQL84/tools/community/x86_64:::7|"
#REPO_DOWNLOAD_ORACLE_REPOSITORIES+="ol7_mysql84_tools_community_aarch64:::Oracle Linux 7 (aarch64) MySQL 8.4 Tools Community:::https://yum.oracle.com/repo/OracleLinux/OL7/MySQL84/tools/community/aarch64:::7|"
REPO_DOWNLOAD_ORACLE_REPOSITORIES+="ol7_instantclient21_x86_64:::Oracle Linux 7 (x86_64) Instant Client 21:::https://yum.oracle.com/repo/OracleLinux/OL7/oracle/instantclient21/x86_64:::7|"
REPO_DOWNLOAD_ORACLE_REPOSITORIES+="ol7_instantclient19_x86_64:::Oracle Linux 7 (x86_64) Instant Client 19:::https://yum.oracle.com/repo/OracleLinux/OL7/oracle/instantclient/x86_64:::7|"
REPO_DOWNLOAD_ORACLE_REPOSITORIES+="ol7_epel_x86_64:::Oracle Linux 7 (x86_64) EPEL:::https://yum.oracle.com/repo/OracleLinux/OL7/developer_EPEL/x86_64:::7|"
#REPO_DOWNLOAD_ORACLE_REPOSITORIES+="ol7_epel_aarch64:::Oracle Linux 7 (aarch64) EPEL:::https://yum.oracle.com/repo/OracleLinux/OL7/developer_EPEL/aarch64:::7"

## Proxmox
REPO_DOWNLOAD_PROXMOX_REPOSITORIES="http://download.proxmox.com/iso/:::1|"
REPO_DOWNLOAD_PROXMOX_REPOSITORIES+="http://download.proxmox.com/debian/ceph-quincy/:::1|"
REPO_DOWNLOAD_PROXMOX_REPOSITORIES+="http://download.proxmox.com/debian/ceph-reef/:::1|"
REPO_DOWNLOAD_PROXMOX_REPOSITORIES+="http://download.proxmox.com/debian/pbs/:::1|"
REPO_DOWNLOAD_PROXMOX_REPOSITORIES+="http://download.proxmox.com/debian/pve/:::1|"
REPO_DOWNLOAD_PROXMOX_REPOSITORIES+="http://download.proxmox.com/debian/proxmox-release-bookworm.gpg:::0|"
REPO_DOWNLOAD_PROXMOX_REPOSITORIES+="http://download.proxmox.com/debian/proxmox-release-bullseye.gpg:::0"

## Git  
REPO_DOWNLOAD_GIT_REPOSITORIES=""

## other 
REPO_DOWNLOAD_OTHER_REPOSITORIES="https://www.memtest86.com/downloads/memtest86-usb.zip:::memtest:::0|"
REPO_DOWNLOAD_OTHER_REPOSITORIES+="https://ftp5.gwdg.de/pub/linux/oracle/OL7/:::oracle/iso:::1|"
REPO_DOWNLOAD_OTHER_REPOSITORIES+="https://ftp5.gwdg.de/pub/linux/oracle/OL8/:::oracle/iso:::1|"
REPO_DOWNLOAD_OTHER_REPOSITORIES+="https://ftp5.gwdg.de/pub/linux/oracle/OL9/:::oracle/iso:::1|"
REPO_DOWNLOAD_OTHER_REPOSITORIES+="http://ftp.uni-bayreuth.de/debian-cd/current-live/amd64/iso-hybrid/:::debian/iso:::1"
